<div id="movie-detail" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            From: 
            <ng2-datepicker [options]="options" (ngModelChange)="onFromChanged($event)" [(ngModel)]="from"></ng2-datepicker></h3>
    </div>
    <div class="panel-heading">
        <h3 class="panel-title">
            To: 
           <ng2-datepicker [options]="options" (ngModelChange)="onToChanged($event)" [(ngModel)]="to"></ng2-datepicker></h3>
    </div>
</div>

<div *ngIf="make" id="movie-detail" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ make.Value }}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group" *ngIf="cars">
                    <li class="list-group-item" *ngFor="let car of cars; let i = index" (click)="onSelect(car.Id)" style="cursor: pointer">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i> {{ parseDate(car.CreatedOn) }}
                        <b>{{ car.Title }}</b>
                        (<i class="fa fa-cogs" aria-hidden="true"></i> {{ car.Engine }} cc, {{ car.Fuel.Value }})
                    </li>
                </ul>
                
                <h3 *ngIf="cars && cars.length == 0">No cars in category <b>{{ make.Value }}</b> found for this period. Please select other dates (<b>From</b> and/or <b>To</b>).</h3>
            </div>
        </div>
    </div>
</div>