.k-scrollview li img {
  max-width: 100%!important;
}

.panel {
  background: transparent;
  margin-bottom: 0;
  padding-bottom: 15px;
}

.panel .panel-heading .panel-title {
  margin: 0;
  font-size: 40px;
  color: #3e4258;
  line-height: 78px;
}

.panel-title a {
  color: #299eff!important;
}

.panel-title a:hover {
  text-decoration: underline;
}

.panel .panel-heading kendo-autocomplete {
  float: right;
  font-size: 24px;
  margin-top: 18px;
}

.panel-body {
  padding-bottom: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.tile {
  margin-bottom: 20px;
}