<div id="movie-detail" class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">
        <h1 style="margin: 0; display: inline-block;" *ngIf="!isInSearchMode">
          Achievements
        </h1>
        <h1 style="margin: 0; display: inline-block;" *ngIf="isInSearchMode">
          Achievements ({{ searchPhrase }})
        </h1>

        <form class="navbar-form navbar-right" style="margin-top: 3px">
          <div class="form-group">
            <input type="text" class="form-control" id="search-achievement" [(ngModel)]="searchPhrase" name="searchPhrase" placeholder="Search">
          </div>
          <button type="submit" id="search-submit" class="btn btn-primary" (click)="search()"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div *ngFor="let achievement of achievements; let i = index" (click)="onSelect(achievement)">
          <div class="box" *ngIf="i % 3 == 0">
            <div class="thumbnail">
              <div class="caption">
                <h3>{{ achievement.Title }}</h3>
                <p>Description: {{ achievement.Description }}</p>
                <p>Wiki: <a href="{{ achievement.Wiki }}">Link</a></p>
                <p>Throphey: {{ achievement.ThropheyName }} ({{ achievement.ThropheyLevel }} lvl)</p>
                <p>Group: <a routerLink="/group/{{ achievement.GroupId }}">{{ achievement.GroupTitle }}</a></p>
                <p>Image: <img src="{{ achievement.Image }}" style="width: 100%" /></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div *ngFor="let achievement of achievements; let i = index" (click)="onSelect(achievement)">
          <div class="box" *ngIf="i % 3 == 1">
            <div class="thumbnail">
              <div class="caption">
                <h3>{{ achievement.Title }}</h3>
                <p>Description: {{ achievement.Description }}</p>
                <p>Wiki: <a href="{{ achievement.Wiki }}">Link</a></p>
                <p>Throphey: {{ achievement.ThropheyName }} ({{ achievement.ThropheyLevel }} lvl)</p>
                <p>Group: <a routerLink="/group/{{ achievement.GroupId }}">{{ achievement.GroupTitle }}</a></p>
                <p>Image: <img src="{{ achievement.Image }}" style="width: 100%" /></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div *ngFor="let achievement of achievements; let i = index" (click)="onSelect(achievement)">
          <div class="box" *ngIf="i % 3 == 2">
            <div class="thumbnail">
              <div class="caption">
                <h3>{{ achievement.Title }}</h3>
                <p>Description: {{ achievement.Description }}</p>
                <p>Wiki: <a href="{{ achievement.Wiki }}">Link</a></p>
                <p>Throphey: {{ achievement.ThropheyName }} ({{ achievement.ThropheyLevel }} lvl)</p>
                <p>Group: <a routerLink="/group/{{ achievement.GroupId }}">{{ achievement.GroupTitle }}</a></p>
                <p>Image: <img src="{{ achievement.Image }}" style="width: 100%" /></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav aria-label="Page navigation" style="text-align: center;" *ngIf="!isInSearchMode">
      <ul class="pagination pagination-lg">
        <li>
          <a routerLink="/achievements/1" aria-label="First" *ngIf="currentPage > 1">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li>
          <a routerLink="/achievements/{{ currentPage - 1 }}" *ngIf="currentPage > 1" aria-label="Previous">
            <span aria-hidden="true">&lsaquo;</span>
          </a>
        </li>
        <li><a routerLink="/achievements/{{ currentPage - 2 }}" *ngIf="currentPage - 1 > 1">{{ currentPage - 2 }}</a></li>
        <li><a routerLink="/achievements/{{ currentPage - 1 }}" *ngIf="currentPage > 1">{{ currentPage - 1 }}</a></li>
        <li class="active" *ngIf="achievements != undefined && achievements.length > 0"><a routerLink="/achievements/{{ currentPage }}">{{ currentPage }}</a></li>
        <li><a routerLink="/achievements/{{ currentPage + 1 }}" *ngIf="lastPage > currentPage">{{ currentPage + 1 }}</a></li>
        <li><a routerLink="/achievements/{{ currentPage + 2 }}" *ngIf="lastPage > currentPage + 1">{{ currentPage + 2 }}</a></li>
        <li>
          <a routerLink="/achievements/{{ currentPage + 1 }}" *ngIf="lastPage > currentPage" aria-label="Next">
            <span aria-hidden="true">&rsaquo;</span>
          </a>
        </li>
        <li>
          <a routerLink="/achievements/{{ lastPage }}" *ngIf="lastPage > currentPage" aria-label="Last">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

    <nav aria-label="Page navigation" style="text-align: center;" *ngIf="isInSearchMode">
      <ul class="pagination pagination-lg">
        <li>
          <a routerLink="/achievements/{{ searchPhrase }}/1" aria-label="First" *ngIf="currentPage > 1">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li>
          <a routerLink="/achievements/{{ searchPhrase }}/{{ currentPage - 1 }}" *ngIf="currentPage > 1" aria-label="Previous">
            <span aria-hidden="true">&lsaquo;</span>
          </a>
        </li>
        <li><a routerLink="/achievements/{{ searchPhrase }}/{{ currentPage - 2 }}" *ngIf="currentPage - 1 > 1">{{ currentPage - 2 }}</a></li>
        <li><a routerLink="/achievements/{{ searchPhrase }}/{{ currentPage - 1 }}" *ngIf="currentPage > 1">{{ currentPage - 1 }}</a></li>
        <li class="active" *ngIf="achievements != undefined && achievements.length > 0"><a routerLink="/achievements/{{ searchPhrase }}/{{ currentPage }}">{{ currentPage }}</a></li>
        <li><a routerLink="/achievements/{{ searchPhrase }}/{{ currentPage + 1 }}" *ngIf="lastPage > currentPage">{{ currentPage + 1 }}</a></li>
        <li><a routerLink="/achievements/{{ searchPhrase }}/{{ currentPage + 2 }}" *ngIf="lastPage > currentPage + 1">{{ currentPage + 2 }}</a></li>
        <li>
          <a routerLink="/achievements/{{ searchPhrase }}/{{ currentPage + 1 }}" *ngIf="lastPage > currentPage" aria-label="Next">
            <span aria-hidden="true">&rsaquo;</span>
          </a>
        </li>
        <li>
          <a routerLink="/achievements/{{ searchPhrase }}/{{ lastPage }}" *ngIf="lastPage > currentPage" aria-label="Last">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    </div>
</div>