<div *ngIf="car" id="movie-detail" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ car.Lot }}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        Year: <b>{{ car.Year }}</b>
                    </li>
                    <li class="list-group-item">
                        Make: <b>{{ car.Make.Value }}</b>
                    </li>
                    <li class="list-group-item">
                        Model: <b>{{ car.Model.Value }}</b>
                    </li>
                    <li class="list-group-item">
                        Category: <b>{{ car.Category.Value }}</b>
                    </li>
                    <li class="list-group-item">
                        Damage: <b>{{ car.Damage }}</b>
                    </li>
                    <li class="list-group-item">
                        Engine Type: <b>{{ car.EngineType }}</b>
                    </li>
                    <li class="list-group-item">
                        Bids:
                    </li>
                    <li class="list-group-item" *ngFor="let bid of car.Bids; let i = index">
                        <b>£{{ bid.Value }}</b> - {{ bid.Location }}
                    </li>
                    <li class="list-group-item">
                        Images:
                    </li>
                    <li class="list-group-item" *ngFor="let image of car.Images; let i = index">
                        <img src="{{ image.Url }}" style="max-width: 100%" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>